/*============================================================
 Home
============================================================*/

#home h1,
#product h1,
#cart h1 {
  display: none;
  }

ul#home_products {
  width: 617px;
  margin: -11px -27px 14px -26px;
  padding: 0;
  background: url({{ 'home_box.png' | theme_image_url }}) repeat;
  list-style: none;
  }

