/*============================================================
 Product
============================================================*/

#product_display {
  position: relative;
  width: 613px;
  margin: -11px -25px 14px -26px;
  }

#product_info {
  position: relative;
  float: right;
  width: 281px;
  margin-top: 13px;
  padding-top: 9px;
  color: #fff;
  }

#product_images {
  float: left;
  width: 309px;
  }

ul#product_thumbnails {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  }

#product_name {
  float: left;
  width: 195px;
  margin: 7px 0 10px 0;
  font-size: 14px;
  line-height: 16px;
  }

#product_info .product_price {
  position: absolute;
  top: 7px;
  right: 304px;
  margin: 0;
  }

#product_form {
  float: right;
  display: block;
  margin: 0;
  padding-bottom: 10px;
  }

#product_options {
  position: relative;
  float: left;
  width: 204px;
  margin: 4px 2px 0 0;
  }

#product_options select {
  width: 195px;
  }

#main ul#option {
  float: left;
  width: 170px;
  margin: 0;
  padding: 0 0 5px 25px;
  }

ul#option li label {
  margin-left: 5px;
  font-size: 11px;
  line-height: 19px;
  color: #fff;
  }

#btn_product_buy {
  float: left;
  }

#main #product_status {
  float: right;
  width: 77px;
  margin: 10px 0 0 0;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  color: #999;
  }

#product_description {
  float: left;
  width: 100%;
  padding: 15px 0 10px 0;
  border-top: 1px solid #4b4b4b;
  font-size: 11px;
  }

#product_description ul {
  list-style: disc;
  }

#product_description ol {
  list-style: decimal;
  }


/* Added to Cart Alert
------------------------------------------------------------*/

#adding_to_cart,
#added_to_cart {
  position: absolute;
  right: -15px;
  width: 90px;
  height: 28px;
  background: #333;
  z-index: 100;
  }

#adding_to_cart h4,
#added_to_cart h4 {
  display: inline;
  float: left;
  margin: 6px 0 0 12px;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  }

#main a#added_view_cart {
  float: right;
  margin-top: 6px;
  border: none;
  }

a#added_view_cart span {
  display: none; /* ie6 fix */
  }


/* Inventory
------------------------------------------------------------*/

#product_inventory {
  float: left;
  width: 100%;
  padding: 15px 0 15px 0;
  border-top: 1px solid #4b4b4b;
  margin-right: -3px;
  }

#product_inventory h3 {
  float: left;
  display: inline;
  margin: 0 25px;
  padding-bottom: 10px;
  font-size: 11px;
  color: #fff;
  }

#main #product_inventory ul {
  float: left;
  display: inline;
  width: 231px;
  margin: 0 25px;
  padding: 0 0 5px 0;
  list-style: none;
  }

#product_inventory li {
  float: left;
  position: relative;
  display: block;
  width: 100%;
  margin-top: 5px;
  border-bottom: 3px solid #4b4b4b;
  }

#product_inventory .inventory_option {
  display: block;
  width: 180px;
  font-size: 9px;
  color: #999;
  line-height: 12px;
  overflow: hidden;
  white-space: nowrap;
  }

#product_inventory .inventory_bar {
  display: block;
  height: 3px;
  position: relative;
  margin-bottom: -3px;
  background: #00B8ED;
  }

#product_inventory .inventory_bar em {
  display: none;
  }

#product_inventory li.sold_out .inventory_option {
  color: #4b4b4b;
  }

#product_inventory .inventory_sold {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 9px;
  color: #4b4b4b;
  line-height: 12px;
  }

